.gradient {
  background: linear-gradient(90deg, #6d6d6d 0%, #181818 100%);
}

.denk-one-regular {
  font-family: 'Denk One', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}
