@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  background: linear-gradient(90deg, #6d6d6d 0%, #181818 100%);
}

.denk-one-regular {
  font-family: 'Denk One', sans-serif;
  font-weight: 400;
  font-style: normal;
font-display: swap;

}

.titleElement {
@apply inline-block no-underline  text-white py-2 px-4 pb-0 w-full lg:w-auto max-lg:text-right;

  font-family: 'Denk One', sans-serif;
  font-style: normal;
  font-size: large;
}
.titleElementIcon {
@apply no-underline  text-white py-2 px-4 md:pb-9 w-auto contents;

  font-family: 'Denk One', sans-serif;
  font-style: normal;
  font-size: large;
}
